body {
    text-align: center;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin: 16px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: #eee;
    color: #07664e;
    text-decoration: none;
    font-size: 13px;
    border: 3px solid;
    position: relative;
}

button:hover {
    text-decoration: none;
}

button::before, button::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: inherit;
    transition: all .5s;

}

button::before {
    top: -14px;
    left: -14px;
    border-width: 3px 0 0 3px;
}

button::after {
    bottom: -14px;
    right: -14px;
    border-width: 0 3px 3px 0;
}

button:hover::before, button:hover::after {
    width: calc(100% + 25px);
    height: calc(100% + 25px);
}

footer {
    width: 100%;
    background-color: #2c2c2c;
    padding: 2px;
    position: fixed;
    color: white;
    bottom: 0;
}